table
{
    border-spacing: 0;
    overflow: hidden;
}

thead, tfoot
{
    background: #01a9c1;
}


tr:nth-child(odd) td:after
{
    content: '';
    background: deepskyblue;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -8;
}

tr:hover
{
    background: blueviolet;
}

td:hover
{
    background: #00ff00;
}

td, th
{
    border: 1px solid black;
    position: relative;
    padding: 5px;
    text-align: center;
}

td:hover::before
{
    content: '';
    position: absolute;
    background: blueviolet;
    left: 0;
    top:-5000px;
    height: 10000px;
    width: 100%;
    z-index: -5;
}

button
{
    visibility: hidden;
}

form:valid button
{
    visibility: visible;
}
