table
{
    border-spacing: 0;
    overflow: hidden;
}

thead, tfoot
{
    background: #01a9c1;
}

tr:nth-child(odd) td:after
{
    content: '';
    background: #00bfff;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -8;
}

tr:hover
{
    background: #8a2be2;
}

td:hover
{
    background: #00ff00;
}

td, th
{
    border: 1px solid black;
    position: relative;
    padding: 5px;
    text-align: center;
}

td:hover::before
{
    content: '';
    position: absolute;
    background: #8a2be2;
    left: 0;
    top:-5000px;
    height: 10000px;
    width: 100%;
    z-index: -5;
}

button
{
    visibility: hidden;
}

form:valid button
{
    visibility: visible;
}

.citySearch
{
    margin: 10px;
}

.citySearch[value="Perth"] ~ table tbody tr:not([data-city="Perth"])
{
    display: none;
}

.citySearch[value="Seoul"] ~ table tbody tr:not([data-city="Seoul"])
{
    display: none;
}

.citySearch[value="Cebu"] ~ table tbody tr:not([data-city="Cebu"])
{
    display: none;
}

.citySearch[value="Lanzhou"] ~ table tbody tr:not([data-city="Lanzhou"])
{
    display: none;
}

.citySearch[value="Tokyo"] ~ table tbody tr:not([data-city="Tokyo"])
{
    display: none;
}

.citySearch[value="Bangkok"] ~ table tbody tr:not([data-city="Bangkok"])
{
    display: none;
}

.citySearch[value="Chicago"] ~ table tbody tr:not([data-city="Chicago"])
{
    display: none;
}

.citySearch[value="Wuhan"] ~ table tbody tr:not([data-city="Wuhan"])
{
    display: none;
}

.citySearch[value="Manila"] ~ table tbody tr:not([data-city="Manila"])
{
    display: none;
}

.citySearch[value="Chennai"] ~ table tbody tr:not([data-city="Chennai"])
{
    display: none;
}

.citySearch[value="Hong Kong"] ~ table tbody tr:not([data-city="Hong Kong"])
{
    display: none;
}
